<style>
  .client-item {
    margin-right: 10px;
    flex: 1 0 40%;
    display: inline-block;
  }

  td, th {
    border: 1px solid black;
  }

  th, tr {
    font-size: 12px;
  }

  table {
    border-collapse: collapse;
  }

  .header {
    font-size: 14px;
  }

  .conta {
    display: flex;
    justify-content: space-between;
  }

  .autenticacao {
    font-size: 10px;
  }

  .item-container {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }

  .item {
    display: inline-block;
    font-weight: 300;
    margin: 5px;
    width: 200px;
  }

  .multas {
    font-size: 12px;
    font-weight: 400;
  }

  .valor {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
  }

  hr {
    color: black;
    height: 1px;
  }

  .contain {
    margin-bottom: 10px;
  }

  .conta {
    font: 20px;
  }

  .consumidor-title {
    margin: 5px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
  }

  .vencimento {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }
</style>

<div class="client-item">
  <div class="header">
    <strong>ASSOCIAÇÃO OLIMPIO NONATO</strong>
    <div>
      <span>Entidade Comunitária Sem Fins Lucrativos</span>
    </div>
    <div class="conta">
      <span>CNPJ: 01.104.138/0001-01 - CGF: Isento</span>
      <span>CONTA D'AGUA</span>
    </div>
  </div>

  <div>
    <table border="1">
      <tr>
        <th>MUNICÍPIO</th>
        <th>HIDRÔMETRO</th>
        <th>DATA DA INSTALAÇÃO</th>
        <th>MÊS/FATURADO</th>
        <th>EMISSÃO</th>
      </tr>
      <tr>
        <td>MILHÃ</td>
        <td>{{ hydrometer }}</td>
        <td>10/10/2003</td>
        <td></td>
        <td>____/____/_______</td>
      </tr>
    </table>
  </div>

  <div class="consumidor-title">IDENTIFICAÇÃO DO CONSUMIDOR</div>

  <div class="item-container">
    <div class="item">
      CPF: {{ cpf }}
    </div>
    <div class="item">
      RG: {{ rg }}
    </div>
  </div>

  <div class="contain">
    <span>{{name}}</span>
    <hr />
    <div class="container">
      <div class="item">
        Sítio Traíras, S/N - ZR<br />
        63.635-000 - Milhã-CE
      </div>
      <div class="item">
        PROFISSÃO <br />
        Agricultor(a)
      </div>
    </div>
  </div>

  <div>
    <table border="1">
      <thead>
        <tr>
          <th>CÓD</th>
          <th>DESCRIÇÃO</th>
          <th>X</th>
          <th>VALOR (R$)</th>
          <th>LEITURA ANTERIOR</th>
          <th>DATA DA LEITURA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>01</td>
          <td>TAXA MENSAL</td>
          <td></td>
          <td>20,00</td>
          <td></td>
          <td>____/____/_______</td>
        </tr>
        <tr>
          <td>02</td>
          <td>SÓCIO</td>
          <td></td>
          <td></td>
          <td>LEITURA ATUAL</td>
          <td>DATA DA LEITURA</td>
        </tr>
        <tr>
          <td>03</td>
          <td>NÃO SÓCIO</td>
          <td></td>
          <td></td>
          <td></td>
          <td>____/____/_______</td>
        </tr>
        <tr>
          <td>04</td>
          <td>EXCESSO CONS.</td>
          <td></td>
          <td></td>
          <td>CONSUMO DO MÊS</td>
          <td>DATA DE CONSUMO</td>
        </tr>
        <tr>
          <td>05</td>
          <td>MULTAS</td>
          <td></td>
          <td></td>
          <td></td>
          <td>30</td>
        </tr>
        <tr>
          <td>06</td>
          <td>SERVIÇOS</td>
          <td></td>
          <td></td>
          <td>EXCESSO DE CONSUMO</td>
          <td></td>
        </tr>
        <tr>
          <td>07</td>
          <td>VALOR TOTAL</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>08</td>
          <td>CONSUMO PERMITIDO POR MES</td>
          <td>20M<sup>3</sup></td>
          <td></td>
          <td>30M<sup>3</sup></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <span class="multas">MULTAS POR CONTA EM ATRASO, SERÃO COBRADAS NA FATURA DOS MESES SEGUINTES</span>
  </div>
  <div class="vencimento">
    <span>VENCIMENTO ____/____/______</span>
    <span>TOTAL A PAGAR R$____________</span>
  </div>
  <div class="autenticacao">
    AUTENTICAÇÃO NO VERSO
  </div>

  <hr />

  <div class="header">
    <strong>ASSOCIAÇÃO OLIMPIO NONATO</strong>
    <div>
      <span>Entidade Comunitária Sem Fins Lucrativos</span>
    </div>
    <div class="conta">
      <span>CNPJ: 01.104.138/0001-01 - CGF: Isento</span>
      <span>CONTA D'AGUA</span>
    </div>
  </div>

  <div class="valor">
    <span class="item-valor">VENCIMENTO ____/____/______</span>
    <span class="item-valor">TOTAL A PAGAR R$____________</span>
  </div>

  <div class="consumidor-title">IDENTIFICAÇÃO DO CONSUMIDOR</div>

  <div class="contain">
    <span>{{name}}</span>
    <hr />
    <div class="container">
      <div class="item">
        Sítio Traíras, S/N - ZR<br />
        63.635-000 - Milhã-CE
      </div>
      <div class="item">
        LOCALIZAÇÃO <br />
        {{ location }}
      </div>
    </div>
  </div>
  <br/>

</div>