<style>
  .client-item {
    margin-right: 10px;
    flex: 1 0 40%;
    display: inline-block;
  }

  td, th {
    border: 1px solid black;
  }

  th, tr {
    font-size: 12px;
  }

  table {
    border-collapse: collapse;
  }

  .header {
    font-size: 14px;
  }

  .conta {
    display: flex;
    justify-content: space-between;
  }

  .autenticacao {
    font-size: 10px;
  }

  .item-container {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    display: flex;
  }

  .item {
    display: inline-block;
    flex: 1;
    font-weight: 300;
    margin: 5px;
  }

  .warning {
    font-size: 12px;
    font-weight: 400;
  }

  .valor {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
  }

  hr {
    color: black;
    height: 1px;
  }

  .contain {
    margin-bottom: 10px;
  }

  .conta {
    font: 20px;
  }

  .consumer-title {
    margin: 15px 0 15px 0;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
  }

  .vencimento {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
  }

  .dotted {
    border: none;
    border-bottom: 1px dotted gray;
  }

  .dashed {
    border: none;
    border-bottom: 1px dashed gray;
  }

  .center {
    text-align: center;
  }

  .strong {
    font-weight: bold;
  }

  .section-separator {
    margin: 15px 0 15px 0;
  }
</style>

<div class="client-item">
  <div class="header">
    <strong>ASSOCIAÇÃO OLIMPIO NONATO</strong>
    <div>
      <span>Entidade Comunitária Sem Fins Lucrativos</span>
    </div>
    <div class="conta">
      <span>CNPJ: 01.104.138/0001-01 - CGF: Isento</span>
      <span>CONTA D'AGUA</span>
    </div>
  </div>

  <div>
    <table border="1" style="width: 100%;">
      <tr>
        <th>MUNICÍPIO</th>
        <th>HIDRÔMETRO</th>
        <th>DATA DA INSTALAÇÃO</th>
        <th>MÊS/FATURADO</th>
        <th>EMISSÃO</th>
      </tr>
      <tr>
        <td class="center">MILHÃ</td>
        <td class="center">{{ hydrometer }}</td>
        <td class="center">10/10/2003</td>
        <td class="center"></td>
        <td class="center">____/____/_______</td>
      </tr>
    </table>
  </div>

  <div class="consumer-title">IDENTIFICAÇÃO DO CONSUMIDOR</div>

  <div class="contain">
    Nome: <span class="dashed">{{name}}</span>

    <div class="item-container">
      <div class="item">
        CPF: <span>{{#if cpf}}{{ cpf }}{{else}}______ . ______ . ______ - ___ {{/if}}</span>
      </div>
      <div class="item">
        RG: <span>{{#if rg}}{{ rg }}{{else}} _____________ {{/if}}</span>
      </div>
    </div>

    <div class="item-container">
      <div class="item">
        Sítio Traíras, S/N - ZR<br />
        63.635-000 - Milhã-CE
      </div>
      <div class="item">
        PROFISSÃO<br />
        Agricultor(a)
      </div>
      <div class="item">
        LOCALIZAÇÃO<br />
        {{ location }}
      </div>
    </div>
  </div>

  <div>
    <table border="1" style="width: 100%;">
      <thead>
        <tr>
          <th>CÓD</th>
          <th>DESCRIÇÃO</th>
          <th>X</th>
          <th>VALOR (R$)</th>
          <th></th>
          <th colspan="2" class="center">LEITURA ANTERIOR</th>
          <th colspan="2" class="center">DATA DA LEITURA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>01</td>
          <td>TAXA MENSAL</td>
          <td></td>
          <td class="center">20,00</td>
          <td></td>
          <td colspan="2"></td>
          <td colspan="2" class="center">____/____/_______</td>
        </tr>
        <tr>
          <td>02</td>
          <td>SÓCIO</td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2" class="center strong">LEITURA ATUAL</td>
          <td colspan="2" class="center strong">DATA DA LEITURA</td>
        </tr>
        <tr>
          <td>03</td>
          <td>NÃO SÓCIO</td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td colspan="2" class="center">____/____/_______</td>
        </tr>
        <tr>
          <td>04</td>
          <td>EXCESSO CONS.</td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2" class="center strong">CONSUMO DO MÊS</td>
          <td colspan="2" class="center strong">DIAS DE CONSUMO</td>
        </tr>
        <tr>
          <td>05</td>
          <td>MULTAS</td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td colspan="2" class="center">30</td>
        </tr>
        <tr>
          <td>06</td>
          <td>SERVIÇOS</td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2" class="center strong">EXCESSO DE CONSUMO</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>07</td>
          <td>VALOR TOTAL</td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>08</td>
          <td colspan="3">CONSUMO PERMITIDO POR MÊS</td>
          <td></td>
          <td class="center">20M<sup>3</sup></td>
          <td></td>
          <td class="center">30M<sup>3</sup></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="warning center">MULTAS POR CONTA EM ATRASO SERÃO COBRADAS NA FATURA DOS MESES SEGUINTES</div>
  </div>
  <div class="vencimento">
    <span>VENCIMENTO ____/____/______</span>
    <span>TOTAL A PAGAR R$____________</span>
  </div>
  <div class="autenticacao">
    AUTENTICAÇÃO NO VERSO
  </div>

  <hr class="section-separator dotted" />

  <div class="header">
    <strong>ASSOCIAÇÃO OLIMPIO NONATO</strong>
    <div>
      <span>Entidade Comunitária Sem Fins Lucrativos</span>
    </div>
    <div class="conta">
      <span>CNPJ: 01.104.138/0001-01 - CGF: Isento</span>
      <span>CONTA D'AGUA</span>
    </div>
  </div>

  <div class="valor">
    <span class="item-valor">VENCIMENTO ____/____/______</span>
    <span class="item-valor">TOTAL A PAGAR R$____________</span>
  </div>

  <div class="consumer-title">IDENTIFICAÇÃO DO CONSUMIDOR</div>

  <div class="contain">
    Nome: <span class="dashed">{{name}}</span>
    <div class="item-container">
      <div class="item">
        Sítio Traíras, S/N - ZR<br />
        63.635-000 - Milhã-CE
      </div>
      <div class="item"></div>
      <div class="item">
        LOCALIZAÇÃO <br />
        {{ location }}
      </div>
    </div>
  </div>
</div>